<form class="form-inline justify-content-center">
  <input class="form-control" type="text" placeholder="Naam bus" aria-label="Naam bus"
    (keyup)="filterBusLijst($event.target.value)">
  <!-- <fa-icon [icon]="faPlus" class="m-3" (click)="clicked()" (keyup.enter)="clicked()"></fa-icon> -->
  <Button [ngClass]="selectedBus ===null?'btn-secondary':'btn-primary'" class="btn ml-3"
    [disabled]='selectedBus===null' (click)="reset()">
    <fa-icon id="white" [icon]="faPlus" class="m-3"></fa-icon>
  </Button>
</form>
<br />
<div class="container-fluid" style="padding:0;">
  <div class="row">
    <div class="col-1 align-self-center">
      <fa-icon class="blue" *ngIf="selectedIndex!==1" [icon]="faArrowLeft"
        (click)="selectedIndex = selectedIndex-1"></fa-icon>
    </div>
    <div class="col-10">
      <bus-component *ngFor="let b of filterdList | bus:selectedIndex"
        [ngClass]="isSelected(b)?'active':''" class="d-inline-block col-3" [bus]="b" (click)="onClick(b)">
      </bus-component>
    </div>
    <div class="col-1 align-self-center">
      <fa-icon class="blue" *ngIf="selectedIndex!==numPages" [icon]="faArrowRight"
        (click)="selectedIndex = selectedIndex+1"></fa-icon>
    </div>
  </div>
  <div class="row justify-content-center">
    <span>
      <fa-icon *ngFor="let i of range(1,numPages)" [ngClass]="i === selectedIndex?'blue':'grey'" (click)="selectedIndex=i" [icon]="faCircle"
        class="m-3"></fa-icon>
    </span>
  </div>
</div>