<nav class="navbar" [ngClass]="[navStyle]">
  <span class="navbar-brand mb-0 h1">
    <div class="header-nav nav-title" [routerLink]="['/administration']" [ngClass]="[navTitleStyle]" data-cy="home-button">Kolveniershof</div>
  </span>

  <!-- Default Mode -->
  <ul class="nav nav-bar" *ngIf="navMode == 0">
    <li class="nav-item">
      <div class="nav-link" [routerLink]="['/login']">Log in</div>
    </li>
  </ul>

  <!-- Login Mode -->
  <ul class="nav nav-bar" *ngIf="navMode == 1">

  </ul>

  <!-- Admin_Start Mode -->
  <ul class="nav nav-bar" *ngIf="navMode == 2">
      <div class="nav-link" [routerLink]="['/login']" (click)="logout()" data-cy="logout-button">Log uit</div>
  </ul>

  <!-- Admin Mode -->
  <ul class="nav nav-bar" *ngIf="navMode == 3">
    <li class="nav-item">
        <div class="nav-link" [routerLink]="['/login']" (click)="logout()" data-cy="logout-button">Log uit</div>
      <!-- <div class="nav-link" [routerLink]="['/administration']">Menu</div> -->
    </li>
  </ul>
</nav>